<main>

    <section class="apresentacao">
        <app-box-apresentation></app-box-apresentation>
    </section>

    <section class="container">

        <app-section [indexSection]="1" title="Sobre mim">
            <app-sobremim></app-sobremim>
        </app-section>

        <app-section [indexSection]="2" title="Experiências">
            <app-experiencia></app-experiencia>
        </app-section>

        <app-section [indexSection]="3" title="Projetos">

            <section class="projetos-container">

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />

                <app-card-projeto title="Integrating Algolia Search with WordPress Multisite"
                    descricao="Construindo um plugin WordPress personalizado compatível com vários sites para construir uma pesquisa global com Algolia" />
            </section>
        </app-section>
    </section>

</main>