@import '../../../../assets/styles/variables.scss';

.container-section {

    .container-title {

        font-size: clamp(18px, 8vw, 25px);
        font-family: "Roboto Mono", monospace;
        position: relative;

        .title {

            color: $primary-text-color;
            margin-left: .7rem;
        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 35%;
            height: .1rem;
            background: $secondary-text-color;
            margin-left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .container-body {

        padding: 2rem .3rem;
    }
}