<section class="container-sobre-mim">

    <div class="container-text">
        <p>
            Olá! Meu nome é Brittany e gosto de criar coisas que vivem na internet. Meu interesse em desenvolvimento web
            começou em
            2012, quando decidi tentar editar temas personalizados do Tumblr - descobri que hackear um botão de reblog
            personalizado
            me ensinou muito sobre HTML e CSS!
        </p>

        <p>
            Avançando até hoje, tive o privilégio de trabalhar na uma agência de publicidade, uma inicialização, uma
            grande
            corporação, e um estúdio de design liderado por estudantes. Meu foco principal atualmente é construir
            produtos e
            experiências digitais acessíveis e inclusivos emUpstatementpara uma variedade de clientes.
        </p>

        <p>
            Eu também recentemente lançou um curso que cobre tudo que você precisa para construir um aplicativo web com
            a API
            Spotify usando Node & React.
        </p>

        <p>
            Aqui estão algumas tecnologias com as quais tenho trabalhado recentemente:
        </p>
    </div>
    <div class="container-img-perfil">
        <img class="img-foto-perfil" src="assets/img/img-perfil.jpeg">
    </div>
</section>